@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  padding: 0 10px;
  min-height: 100vh;
  align-items: center;
  background: linear-gradient( to bottom left, #33ccff 0%, #ff99cc 100%);
  justify-content: center;
  color: #fff;
}

.wrapper {
  height: 265px;
  max-width: 410px;
  background: #222;
  border-radius: 18px;
  padding: 20px 25px 0;
  transition: height 0.2s ease;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.wrapper.active {
  height: 530px;
}

header h1 {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

header p {
  margin-top: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.wrapper .form {
  margin: 20px 0 25px;
}

.form :where(input, button) {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  transition: 0.1s ease;
}

.form input {
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #b6b2b2;
  color: #d9d6d6;
  background: #333;
  border-radius: 10px;
}

.form input:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form input::placeholder {
  color: #b6b2b2;
}

.form button {
  color: #333;
  border: 1px solid #b6b2b2;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif uppercase;
  background: #d9d6d6;
  transition: background 0.3s ease, transform 0.2s ease;
}

.form button:hover {
  background: #333;
  color: #d9d6d6;
}

.form button:active {
  transform: scale(0.95);
}

.qr-code {
  opacity: 0;
  display: flex;
  padding: 33px 0;
  border-radius: 5px;
  align-items: center;
  pointer-events: none;
  justify-content: center;
  border: 1px solid #ccc;
}

.wrapper.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
  width: 170px;
}

@media (max-width: 430px) {
  .wrapper {
    height: 255px;
    padding: 16px 20px;
  }
  .wrapper.active {
    height: 510px;
  }
  header p {
    color: #696969;
  }
  .form :where(input, button) {
    height: 52px;
  }
  .qr-code img {
    width: 160px;
  }
}